@model LearnGlobalization.Models.Contact

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("Contact","Home",FormMethod.Post,new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.ValidationSummary(true, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EmailAddress, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m=>m.EmailContent, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            @Html.TextAreaFor(m => m.EmailContent, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EmailContent, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Send</button>
        </div>
    </div>
}